<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN | Society Monitoring System</title>
    <link rel = "icon" href ="../static/images/logo.jpg" type = "image/x-icon">
    <link rel="stylesheet" href="../static/css/userDash.css">
    <link rel="stylesheet" href="../static/css/adminDash.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.11.1/css/all.css">
    <style>
        .sidemenubar{
            min-width: 16.5%;
            /* margin-left: 0; */
        }
    </style>
</head>
<body>
    <div class="sidemenubar" id="sidebar">
        <!-- <button id="slidin" onclick="close_menu()">&#9776</button> -->
            <a href="/home">HOME</a>
            <a href="/inoutRecord">In-out record</a>
            <a href="/members" style="background-color:rgb(88, 88, 88);" >All Members</a>
            <a href="/vaccinations">VACCINATION</a>
            <a href="/logout">LOGOUT</a>
    </div>

    <nav class="both"id="navbar-dash">
        <button class="slider" id="slider1" onclick="open_menu()"><ul><li id="d0"></li><li id="d1"></li><li></li></ul>&nbspADMIN</button>
        <button class="slider" id="slider2" onclick="close_menu()" style="display: none;"><ul><li id="c0"></li><li id="c1"></li><li></li></ul>&nbspADMIN</button>
        <a class="logo" href="/home"><img src="../static/images/logo.jpg"></a>
    </nav>

    <section class="main both" id="main-sec">

        <div class="dashboard">
            <table class="people">
                <thead>
                    <tr>
                        <th class="table-heading">Name</th>
                        <th class="table-heading">Email</th>
                        <th class="table-heading">Flat.No</th>
                        <th class="table-heading">get data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <form action="/userinfo" method="post">
                        <tr>
                            <td>{{member[0]}}&nbsp{{member[1]}}&nbsp{{member[2]}}&nbsp</td>
                            <td><input class="mail" type="text" name="email" value={{member[3]}} readonly></td>
                            <td> <center><input class="flatno" type="text" name="flat" value={{member[4]}} readonly></center> </td>
                            <td> <center><button class="sub-btn" type="submit">Get Data</button></center></td>
                        </tr>
                    </form>
                    <br>
                    {%endfor%}
                </tbody>
            </table>
            
        </div>
    </section>

    <script src="../static/js/userdashboard.js"></script>
</body>
</html>